# ==============================================================================
# FREVIA - CONFIGURAÇÃO DO SUPABASE
# ==============================================================================

# URL do Projeto (Project URL)
SUPABASE_URL=https://mzskenialclybcfpzlel.supabase.co

# Chave Publicável (Publishable / Anon Key)
SUPABASE_ANON_KEY=sb_publishable_fnArOa9s5qVGMrDF3WF9Pg_a439cmfK
