# Configuração do Firebase / Cloud Firestore (Apenas para o Desenvolvedor)
# Preencha com as credenciais do seu projeto no Firebase Console (plano Spark gratuito)
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
